{% extends "base.html.twig" %}
{% block title %}
  Agence mihawkimmo 
{% endblock %}
{% block body %}
  <div class='jumbotron text-center'>
    <h1>agence mihawkImmo</h1>
    
  </div>
  <div class="container">
    <h1> les derniers biens</h1>
    <div class="row flex">
      {% for property in properties %}
        <div class="col-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                <a href="{{path('property.show',{id: property.id, slug: property.slug}) }}">{{ property.title }}</a>
              </h5>
              <img src="/biens/images/{{property.id}}" class="card-img-top" alt="...">
              <p class="card-text">{{ property.city }} ({{ property.postalCode }})</p>
              <div class="text-primary" style="font-weight: bold;font-size: 2rem;">{{ property.formattedPrice }}€</div>
            </div>
          </div>
        </div> 
      {% endfor %}
    </div> 
  </div> 
{% endblock %}